---
import type { ProjectHeaderProps } from "./types";
import { ProjectHeader as Header } from "./ProjectHeader";

const { projectId } = Astro.props as ProjectHeaderProps;
---

<div class="space-y-2">
  <Header projectId={projectId} client:load />
</div>
