---
import { Button } from "@/components/ui/button";
import { PlusIcon } from "lucide-react";
---

<div class="mb-8 flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4">
  <h2 class="text-xl font-bold tracking-tight">Moje projekty</h2>

  <div class="flex-shrink-0">
    <a href="/projects/new" class="flex items-center">
      <Button className="gap-2 w-full sm:w-auto" variant="default">
        <PlusIcon className="h-4 w-4" />
        <span>Nowy projekt</span>
      </Button>
    </a>
  </div>
</div>
